## Notebook 01 — Data Ingestion
#### This notebook loads the Facebook Ads dataset and performs initial inspection for the Agentic Facebook Performance Analyst Project.

In [6]:
import sys
import os

# Get absolute path to project root
project_root = os.path.abspath("..")  # if notebook is inside /notebooks
sys.path.append(project_root)

print("Project root added:", project_root)

Project root added: C:\Users\lenovo\AgenticFacebookPerformanceAnalyst

In [10]:
import os
os.getcwd()

'C:\\Users\\lenovo\\AgenticFacebookPerformanceAnalyst\\notebooks'

In [11]:
from src.data_loader import load_csv

data_path = "../data/synthetic_fb_ads_undergarments.csv"

try:
    df = load_csv(data_path)
    print("Dataset loaded successfully!")
except Exception as e:
    print("Error:", e)

Dataset loaded successfully!

In [13]:
df.head()

,campaign_name,adset_name,date,spend,impressions,clicks,ctr,purchases,revenue,roas,creative_type,creative_message,audience_type,platform,country
0,Men ComfortMax Launch,Adset-1 Retarget,2025-01-01,640.09,235597,4313.0,0.0183,80,1514.28,2.37,Image,Breathable organic cotton that moves with you ...,Broad,Facebook,US
1,Men ComfortMax Launch,Adset-1 Retarget,2025-01-02,373.75,276194,5429.0,0.0197,94,4152.81,11.11,Video,No ride‑up guarantee — best‑selling men briefs...,Broad,Facebook,US
2,Men ComfortMax Launch,Adset-1 Retarget,2025-01-03,703.79,466572,9830.0,0.0211,240,4893.43,6.95,UGC,Cooling mesh panels for workouts — men boxers ...,Broad,Facebook,US
3,Men_ComfortMax_Launch,Adset-1 Retarget,2025-01-04,441.50,193230,2424.0,0.0125,61,1330.10,3.01,Image,Cooling mesh panels for workouts — men athleti...,Lookalike,Facebook,US
4,Men ComfortMax Launch,Adset-1 Retarget,2025-01-05,NaN,404300,6372.0,0.0158,181,7027.20,51.52,Video,Summer‑ready essentials — sweat‑wicking men at...,Lookalike,Instagram,IN

In [14]:
df.tail()

,campaign_name,adset_name,date,spend,impressions,clicks,ctr,purchases,revenue,roas,creative_type,creative_message,audience_type,platform,country
4495,Women | Studio Sports,Adset-5 ATC,2025-03-27,328.63,357842,5960.0,0.0167,216,11243.34,34.21,Video,Invisible under tees — seamless women sports b...,Lookalike,Facebook,US
4496,Women | Studio Sports,Adset-5 ATC,2025-03-28,NaN,118796,903.0,0.0076,40,1422.41,2.11,Video,"Push comfort, not wires — everyday women bras.",Broad,Instagram,US
4497,women | studio sports,Adset-5 ATC,2025-03-29,118.54,161510,NaN,0.0082,28,891.20,7.52,Image,No ride‑up guarantee — best‑selling women spor...,Broad,Instagram,IN
4498,Women | Studio Sports,Adset-5 ATC,2025-03-30,196.74,407392,3337.0,0.0082,103,3396.17,17.26,Carousel,Hot & comfy: women boyshorts now 20% off — fee...,Broad,Facebook,US
4499,Women_|_Studio_Sports,Adset-5 ATC,2025-03-31,484.86,102986,1098.0,0.0107,52,1165.65,2.40,Video,Doctors recommend breathable modal — meet our ...,Retargeting,Instagram,IN

In [15]:
df.shape

(4500, 15)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   campaign_name     4500 non-null   object
 1   adset_name        4500 non-null   object
 2   date              4500 non-null   object
 3   spend             4387 non-null   float64
 4   impressions       4500 non-null   int64
 5   clicks            4348 non-null   float64
 6   ctr               4500 non-null   float64
 7   purchases         4500 non-null   int64
 8   revenue           4367 non-null   float64
 9   roas              4491 non-null   float64
 10  creative_type     4500 non-null   object
 11  creative_message  4500 non-null   object
 12  audience_type     4500 non-null   object
 13  platform          4500 non-null   object
 14  country           4500 non-null   object
dtypes: float64(5), int64(2), object(8)
memory usage: 527.5+ KB

In [17]:
df.describe()

,spend,impressions,clicks,ctr,purchases,revenue,roas
count,4387.000000,4500.000000,4348.000000,4500.000000,4500.000000,4367.000000,4491.000000
mean,479.958947,264497.002889,3466.252070,0.013066,75.809778,2808.724690,9.634400
std,283.392088,145930.508077,2471.919961,0.005101,77.935337,2837.959721,16.452217
min,21.140000,12002.000000,71.000000,0.003000,0.000000,0.000000,0.000000
25%,249.240000,137623.250000,1573.750000,0.009400,22.000000,837.930000,1.930000
50%,439.060000,263456.500000,2986.500000,0.012100,52.000000,1943.260000,4.340000
75%,676.570000,390130.500000,4803.500000,0.015900,103.000000,3772.715000,10.435000
max,1482.760000,519901.000000,15738.000000,0.036400,644.000000,28284.690000,286.050000

In [18]:
missing = df.isnull().sum()
missing

campaign_name         0
adset_name            0
date                  0
spend               113
impressions           0
clicks              152
ctr                   0
purchases             0
revenue             133
roas                  9
creative_type         0
creative_message      0
audience_type         0
platform              0
country               0
dtype: int64

In [20]:
output_path = "../outputs/intermediate_files/raw_ingested_data.csv"
df.to_csv(output_path, index=False)

print("Raw ingested data saved to:", output_path)

Raw ingested data saved to: ../outputs/intermediate_files/raw_ingested_data.csv